openapi: 3.0.0
info:
  title: Z Risk Audit Simulator API Specification (V1.0)
  description: |
    hensam의 핵심 제품인 'Z Risk Audit 시뮬레이터'를 위한 통합 백엔드 엔드포인트 명세입니다.
    사용자의 운영 환경 변수와 초기 위험 지수를 입력받아, 재무적 손실 예측과 개선 효과(Aha Moment)를 계산하고 구조화된 JSON 보고서를 반환합니다.
  version: 1.0.0
servers:
  - url: https://api.hensam.com/v1
    description: Production API Gateway

paths:
  /zrisk/simulate:
    post:
      summary: Z Risk 시뮬레이션 실행 및 보고서 생성
      description: 사용자가 제공한 입력값(산업군, 규제 준수 상태 등)을 기반으로 현재의 최대 잠재 손실액($Z_{current}$)과 솔루션 도입 후 위험 감소분($\Delta Z$)을 계산합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationInput'
            example:
              initial_z_score: 0.65
              industry_sector: "Financial Services"
              regulatory_compliance_status: {
                severity_level: "Medium",
                gap_count: 3,
                max_potential_loss_multiplier: 1.2
              }
              solution_adoption_variables: {
                investment_level: 0.8,
                resilience_improvement_factor: 0.4
              }
      responses:
        '200':
          description: 시뮬레이션이 성공적으로 완료되었으며, 구조화된 보고서 JSON을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportJSON'
              example:
                simulation_id: "ZRS-20260512-AABBCC"
                timestamp: "2026-05-12T14:30:00Z"
                initial_z_score: 0.65
                current_risk_summary: {
                  z_value_description: "Medium Risk - Immediate Action Required",
                  calculated_z_current: 0.81, # Z_current (Actual calculated value)
                  loss_context: "Regulatory Failure Cost (Delay Cost)"
                }
                mitigation_results: {
                  predicted_max_loss_without_action: 25000000, # $ (Integer type)
                  risk_reduction_value_delta_z: 18000000, # $\Delta Z$ value
                  final_projected_risk_score: 0.35
                }
                detailed_report: {
                  regulatory_failure_breakdown: [
                    { "area": "Data Governance", "impact_weight": 0.25, "potential_loss": 10000000 },
                    { "area": "Operational Continuity", "impact_weight": 0.3, "potential_loss": 15000000 }
                  ],
                  solution_benefit_breakdown: [
                    { "module": "Automated Audit System", "mitigation_factor": 0.6, "reduction_value": 8000000 },
                    { "module": "Process Mapping AI", "mitigation_factor": 0.4, "reduction_value": 10000000 }
                  ]
                }

components:
  schemas:
    SimulationInput:
      type: object
      required:
        - initial_z_score
        - industry_sector
        - regulatory_compliance_status
        - solution_adoption_variables
      properties:
        initial_z_score:
          type: number
          description: 사용자가 인지하는 초기 Z Risk 점수 (0.0 ~ 1.0).
          example: 0.65
        industry_sector:
          type: string
          description: 고객사의 산업 분야 (예: Financial Services, Healthcare).
          example: "Financial Services"
        regulatory_compliance_status:
          type: object
          description: 현재의 규제 준수 상태와 관련된 위험 데이터.
          required:
            - severity_level
            - gap_count
            - max_potential_loss_multiplier
          properties:
            severity_level:
              type: string
              enum: [Low, Medium, High]
              description: 규제 준수 실패의 심각도.
            gap_count:
              type: integer
              description: 발견된 핵심 비준수 항목(Gap) 개수.
            max_potential_loss_multiplier:
              type: number
              description: 잠재적 최대 손실에 곱해지는 계수 (예: 1.2).
        solution_adoption_variables:
          type: object
          description: 도입을 고려하는 솔루션의 기대 효과 변수.
          required:
            - investment_level
            - resilience_improvement_factor
          properties:
            investment_level:
              type: number
              description: 고객사의 투자 의지/예산 (0.0 ~ 1.0).
            resilience_improvement_factor:
              type: number
              description: 솔루션 도입으로 기대되는 운영 복원력 개선 비율 (0.0 ~ 1.0).

    ReportJSON:
      type: object
      description: 시뮬레이터가 최종적으로 계산하여 반환하는 구조화된 보고서 데이터.
      properties:
        simulation_id:
          type: string
          example: "ZRS-20260512-AABBCC"
        timestamp:
          type: string
          format: date-time
        current_risk_summary:
          $ref: '#/components/schemas/CurrentRiskSummary'
        mitigation_results:
          $ref: '#/components/schemas/MitigationResults'
        detailed_report:
          type: object
          properties:
            regulatory_failure_breakdown:
              type: array
              items:
                type: object
                required: [area, impact_weight, potential_loss]
                properties:
                  area: { type: string, description: "규제 위반 영역 (예: Data Governance)" }
                  impact_weight: { type: number, format: float, description: "영향력 가중치 (0.0 ~ 1.0)"}
                  potential_loss: { type: integer, description: "해당 영역의 잠재적 최대 손실액 ($)" }
            solution_benefit_breakdown:
              type: array
              items:
                type: object
                required: [module, mitigation_factor, reduction_value]
                properties:
                  module: { type: string, description: "개선 솔루션 모듈 이름" }
                  mitigation_factor: { type: number, format: float, description: "해결책의 완화 계수 (0.0 ~ 1.0)" }
                  reduction_value: { type: integer, description: "솔루션 도입으로 회피 가능한 위험 감소액 ($)" }

    CurrentRiskSummary:
      type: object
      properties:
        z_value_description:
          type: string
          description: Z Risk 점수에 따른 해석 (예: Medium Risk - Immediate Action Required).
        calculated_z_current:
          type: number
          format: float
          description: 최종 계산된 현재 위험 지수 ($Z_{current}$).
        loss_context:
          type: string
          description: 손실 발생의 핵심 원인 (예: Regulatory Failure Cost).

    MitigationResults:
      type: object
      properties:
        predicted_max_loss_without_action:
          type: integer
          description: 조치 없이 발생하는 최대 잠재 재무 손실액 ($\text{L}_{\text{Max}}$).
        risk_reduction_value_delta_z:
          type: integer
          description: 솔루션 도입으로 회피 가능한 위험 감소분 ($\Delta Z$) - 이 값이 핵심 가치.
        final_projected_risk_score:
          type: number
          format: float
          description: 솔루션 적용 후 예측되는 최종 안전 지수 ($Z_{\text{Final}}$).